{% extends "home/base-guest.html" %}
{% block title %} | About{% endblock %}
{% block content %}
    <div class="small-title"><strong>Về chúng tôi</strong></div>
    <div>
        <ul style="list-style: none;font-size:20px;color:#2d98da;font-weight:600;">
            <li style="margin-bottom: 15px;">Chủ shop: Nguyễn Trần Chung</li>
            <li style="margin-bottom: 15px;">Địa chỉ shop: Số 53 Ngõ 43 Chùa Bộc - phường Khương Thượng - quận Đống Đa - Hà Nội</li>
            <li style="margin-bottom: 15px;">Liên hệ: 0123456789</li>
            <li style="margin-bottom: 15px;">Thông tin thanh toán:
                <ul style="list-style: none;">
                    <li style="margin-top:10px;">Số tài khoản: 0987654321</li>
                    <li style="margin-top:5px;">Chủ tài khoản: NGUYEN TRAN CHUNG</li>
                    <li style="margin-top:5px;">Ngân hàng VIETCOMBANK</li>
                </ul>
            </li>
            <li style="margin-bottom: 15px;">Chúng tôi chuyên phân phối các sản phẩm đồ chơi mô hình chất lượng cao.</li>
            <li style="margin-bottom: 15px;"> Cam kết chính hãng 100%.</li>
            <li style="margin-bottom: 15px;">Được phục vụ quý khách là vinh dự của chúng tôi!</li>
        </ul>
    </div>
{% endblock %}